
body {
  padding-top: 50px;
}


.ui-dialog{
    width: 380px;
    height: auto;
    display: none;
    position: absolute;
    z-index: 9000;
    /*top: 100px;
    left: 100px;*/
    border: 1px solid #d5d5d5;
    background: #fff;
}
.ui-dialog a{ text-decoration: none;}
.ui-dialog-title{
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: #535353;
    font-size: 16px;
    background: #f5f5f5;
    border-bottom: 1px solid #efefef;
    cursor: move;
}
.ui-dialog-title-closebutton{
    width: 32px;height: 32px;display: block;
    position: absolute;top: 12px;right: 20px;
    background: url(../images/close.png);
}
.ui-dialog-content{
    padding: 15px 20px;
}

.music_form{
    margin-top: 15px;
}
.ui-dialog-pt15{
    padding-top: 15px;
}
.ui-dialog-l40{
    height: 40px;line-height: 40px;
    text-align: center;
}

.ui-dialog-submit{
    margin-top: 30px;
    width: 180px;
    height: 35px;
    line-height: 15px;
}
.ui-dialog-submit:hover{
    background: #3f81b0;
}

.ui-mask{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
    filter: Alpha(opacity=40);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 8000;
    display: none;
}

.msg{
  color: red;
}


.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.navbar-fixed-top {
  border: 0;
}
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.list_music_id{
  display: none;
}

/*分页栏*/
.page {
    margin-top: 70px;
    margin-left: 50px;
    zoom:1
}
.page:after {
    content:"";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.page span {
    position:relative;
    margin:2px 8px;
    border:solid 1px#ccc;
}
.page span a {
    padding:5px 12px;
    cursor:pointer;
}
.page span i {
    display:block;
    height:10px;
    width:10px;
    background:#ccc;
    border-radius:50%;
    position:absolute;
    left:50%; top:-20px;
    margin-left:-5px;
}
.page span i.active_i {
    background:#418BCA;
}
.currentpageNum{
    margin-left: 50px;
}
.pageNum{
    margin-left: 30px;
    width: 25px;
    height: 18px;
}
.table tbody tr.active_tr {
  background:#418BCA;
}
.main .bt{
background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: absolute;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.main .addBt{
  background-image: url(../images/add.png);
  right:130px;
  top: 30px;
}
.main .editBt{
  background-image: url(../images/edit.png);
  right:80px;
  top: 30px;
}
.main .delBt{
  background-image: url(../images/del.png);
  right:30px;
  top: 30px;
}
tr:hover{
  background-color:#eeeeee;
};
