

.ui-dialog{
    width: 380px;
    height: auto;
    display: none;
    position: absolute;
    z-index: 9000;
    /*top: 100px;
    left: 100px;*/
    border: 1px solid #d5d5d5;
    background: #fff;
}
.ui-dialog a{ text-decoration: none;}
.ui-dialog-title{
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: #535353;
    font-size: 16px;
    background: #f5f5f5;
    border-bottom: 1px solid #efefef;
    cursor: move;
}
.ui-dialog-title-closebutton{
    width: 32px;height: 32px;display: block;
    position: absolute;top: 12px;right: 20px;
    background: url(../images/close.png);
}
.ui-dialog-content{
    padding: 15px 20px;
}

.music_form{
    margin-top: 15px;
}
.ui-dialog-pt15{
    padding-top: 15px;
}
.ui-dialog-l40{
    height: 40px;line-height: 40px;
    text-align: center;
}

.ui-dialog-submit{
    margin-top: 30px;
    width: 180px;
    height: 35px;
    line-height: 15px;
}
.ui-dialog-submit:hover{
    background: #3f81b0;
}

.ui-mask{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
    filter: Alpha(opacity=40);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 8000;
    display: none;
}


.container{
    padding-top: 10px;
    width:1200px;
}
.hero-unit{
    padding: 30px;
    text-align: center;
}
.user_image{
    width: 160px;
    height: 160px;
    border-radius: 200px;
    border: 5px solid #FFF;
}
h3{
    text-align: center;
    width: 470px;
    display: inline-block;
}
.span7{
    margin-left: 50px;
}


.list_music_id{
  display: none;
}

.page {
    margin-top: 70px;
    margin-left: 0px;
    zoom:1
}
.page:after {
    content:"";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.page span {
    position:relative;
    margin:2px 6px;
    border:solid 1px#ccc;
}
.page span a {
    padding:5px 5px;
    cursor:pointer;
}
.page span i {
    display:block;
    height:10px;
    width:10px;
    background:#ccc;
    border-radius:50%;
    position:absolute;
    left:50%; top:-20px;
    margin-left:-5px;
}
.page span i.active_i {
    background:#418BCA;
}
.currentpageNum{
    margin-left: 2px;
}
#like_pageNum{
    margin-left: 2px;
    margin-top: 9px;
    width: 12px;
    height: 10px;
}
#hate_pageNum{
    margin-left: 2px;
    margin-top: 9px;
    width: 12px;
    height: 10px;
}
.table tbody tr.active_tr {
  background:#418BCA;
}
.bt{
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.like_delBt{
  background-image: url(../images/myzonedel.png);
  margin: -20px;
}
.hate_delBt{
  background-image: url(../images/myzonedel.png);
  margin: -20px;
}
.musicBt{
  background-image: url(../images/music.png);
  float: left;
}
.logoutBt{
  background-image: url(../images/logout.png);
  float: right;
}
tr:hover{
  background-color:#eeeeee;
};
