.container{
    padding-top: 10px;
    width:1200px;
}
.hero-unit{
    padding: 30px;
    text-align: center;
}
.user_image{
    width: 160px;
    height: 160px;
    border-radius: 200px;
    border: 5px solid #FFF;
}
h3{
    text-align: center;
    width: 470px;
    display: inline-block;
}
.span7{
    margin-left: 50px;
}


.list_music_id{
  display: none;
}

.page {
    margin-top: 70px;
    margin-left: 0px;
    zoom:1
}
.page:after {
    content:"";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.page span {
    position:relative;
    margin:2px 6px;
    border:solid 1px#ccc;
}
.page span a {
    padding:5px 5px;
    cursor:pointer;
}
.page span i {
    display:block;
    height:10px;
    width:10px;
    background:#ccc;
    border-radius:50%;
    position:absolute;
    left:50%; top:-20px;
    margin-left:-5px;
}
.page span i.active_i {
    background:#418BCA;
}
.currentpageNum{
    margin-left: 2px;
}
#like_pageNum{
    margin-left: 2px;
    margin-top: 9px;
    width: 12px;
    height: 10px;
}
#hate_pageNum{
    margin-left: 2px;
    margin-top: 9px;
    width: 12px;
    height: 10px;
}
.table tbody tr.active_tr {
  background:#418BCA;
}
.bt{
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.like_delBt{
  background-image: url(del.png);
  margin: -20px;
}
.hate_delBt{
  background-image: url(del.png);
  margin: -20px;
}
.musicBt{
  background-image: url(music.png);
  float: left;
}
.logoutBt{
  background-image: url(logout.png);
  float: right;
}
tr:hover{
  background-color:#eeeeee;
};
