* {
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  background-image: url();
  background-size: cover;
  background-attachment:fixed;
}

a {
  outline: none;
  text-decoration: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}


#player {
  width: 100%;
  height: 100%;
  /*padding: 25px;
  margin: 50px auto 30px;*/
  position: fixed;
}
#player .ctrl {
/*  margin-left: 155px;*/
  text-align: center;
  text-shadow: 0 1px 2px #000;
  line-height: 32px;
  width: 100%;
  position: absolute;
  bottom: 100px;
}
#player .ctrl .tag strong, #player .ctrl .tag span {
  display: block;/*显示为块级元素*/
  text-overflow: ellipsis;
}
#player .ctrl .tag strong {
  font-size: 24px;
  margin-top: 5px;
  color: #ccc;
}
#player .ctrl .tag span {
  font-size: 20px;
  margin-top: 5px;
  color: #ccc;
}
#player .ctrl .icon {
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  opacity: 0.6;
  cursor: pointer;
  width: 24px;
  height: 24px;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#filter .bt{
    background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: absolute;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#player .ctrl .icon:hover, #player .ctrl .icon.enable {
  opacity: 1;
}
#player .ctrl .icon:active {
  opacity: 0.3;
}
#player .ctrl .control .volume{
  margin-top: 10px;
  height: 25px;
  position: absolute;
  bottom: 13px;
  right: 10px;
}
/*喇叭图标*/
#player .ctrl .control .volume .mute {
  background-image: url(../images/volume.png);
}
/*静音喇叭图标*/
#player .ctrl .control .volume .mute.enable {
  background-image: url(../images/mute.png);
}
#filter .likeBt{
    /*width: 20px;*/
    background-image: url(../images/like1.png);
    margin-top: 25px;
    margin-left: 19%;
}
#filter .likeBt.enable {
    background-image: url(../images/like12.png);
    margin-top: 25px;
    margin-left: 19%;
}
#filter .hateBt{
    background-image: url(../images/dislike.png);
    margin-top: 25px;
    margin-left: 79%;
}
#filter .nextBt{
    background-image: url(../images/next.png);
    margin-top: 25px;
    margin-left: 59%;
}
#filter .playBt.playing{
    background-image: url(../images/pause.png);
    margin-top: 25px;
    margin-left: 39%;
}
#filter .playBt{
    background-image: url(../images/play.png);
    margin-top: 25px;
    margin-left: 39%;
}
/*音量拉条*/
#player .ctrl .control .volume .slider {
  margin-top: 8px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
}
/*进度条*/
#player .ctrl .progress {
  margin-top: 10px;
}
/*歌曲播放时间*/
#player .ctrl .progress .timer {
  text-align: left;
  font-size: 18px;
  color: #ccc;
  margin-top: 8px;
  margin-left: 10px;
}
/*音量条和进度条*/
.slider {
  background: rgba(0, 0, 0, 0.3);
  height: 10px;
  position: relative;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset;
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset;
}
.slider:hover a, .slider.enable a {
  opacity: 1;
}
.slider a {
  background: #fff;
  margin-left: -2.5px;
  position: absolute;
  opacity: 0;
  width: 10px;
  height:10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -khtml-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.slider .loaded, .slider .pace {
  position: absolute;
  height: 100%;
  opacity: 0.7;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
.slider .loaded {
  background: rgba(255, 255, 255, 0.1);
}
.slider .pace {
  background: #258fb8;
}

#filter{
        width:100%;
        height:100px;
        background:#000;
        filter: Alpha(opacity=70);
        opacity:0.7;
        position: absolute;
        left: 0px;
        bottom: 0px;
}

