<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>404</title>
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/404.css') }}" />
</head>

<body>

    <div align="center">
    <div id="rocket"></div>
    <hgroup>
        <h1><b>404 Not Found</b></h1>
        <h2>We couldn't find what you were looking for.</h2>
    </hgroup>
    <script src="{{ static_url('js/jquery.min.js') }}"></script>
    <script src="{{ static_url('js/404.js') }}"></script>
    </div>

</body>
</html>
