<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>歌曲管理界面</title>
    <link href="{{ static_url("css/bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ static_url("css/adminindex.css") }}" rel="stylesheet">
    <link href="{{ static_url('images/flower_fm.ico') }}" rel="shortcut icon"></link>

  </head>

  <body>

    <div class="ui-dialog" id="dialog">
        <div class="ui-dialog-title" id="dialogTitle">
            增加/修改
            <div class="ui-dialog-title-closebutton"></div>
        </div>
        <div class="ui-dialog-content">
            <CENTER>
            <form class="navbar-form"  name="form" role="form">
                <h5>歌曲信息：<span id="msg1" class="msg"></span></h5>
                <input class="form-control music_form" id="music_name" name="music_name" type="text" autofocus="" required="" placeholder="Music name"></input>

                <!-- <h5>歌手：</h5> -->
                <input class="form-control music_form" id="music_artist" name="music_artist" type="text" autofocus="" required="" placeholder="Music artist"></input>

                <!-- <h5>流派：</h5> -->
                <input class="form-control music_form" id="music_style" name="music_style" type="text" autofocus="" required="" placeholder="Music style"></input>

                <!-- <h5>地区：</h5> -->
                <input class="form-control music_form" id="music_zone" name="music_zone" type="text" autofocus="" required="" placeholder="Music zone"></input>

                <!-- <h5>情绪：</h5> -->
                <input class="form-control music_form" id="music_mood" name="music_mood" type="text" autofocus="" required="" placeholder="Music mood"></input>

                <!-- <h5>路径：</h5> -->
                <input class="form-control music_form" id="music_url" name="music_url" type="text" autofocus="" required="" placeholder="Music url"></input>

                <input class="form-control music_form" id="music_picture_url" name="music_picture_url" type="text" autofocus="" required="" placeholder="Music picture url"></input>

                <!-- <h5>日期：</h5> -->
                <input class="form-control music_form" id="music_publish_date" name="music_publish_date" type="text" autofocus="" required="" placeholder="Music publish date"></input>
                <div><span id="msg" class="msg"></span></div>

                <button class="ui-dialog-submit btn btn-lg btn-primary btn-block" id="submit">
                    提交
                </button>
            </form>
            </CENTER>
        </div>
    </div>

    <div class="ui-mask" id="mask" onslectstart="return false"></div>

    <!-- 上边栏 -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/adminindex">管理页面</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" action="/musicsearch" method="get">
            <input type="text" class="form-control" id="keyword" name="keyword" placeholder="Search...">
            <input type="submit" id="searchBt" value="搜索">
          </form>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <!-- 左侧边栏 -->
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">歌曲管理</a></li>
            <li><a href="#">用户管理</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">用户量统计</a></li>
            <li><a href="">用户喜欢统计</a></li>
            <li><a href="">用户讨厌统计</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/adminlogout">Log Out</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% block header %}
            <h2 class="sub-header">歌曲管理</h2>
            {% end %}
            <!-- 三个功能按钮 -->
            {% block addBt %}
            <div class="addBt bt"></div>
            {% end %}
            <div class="editBt bt"></div>
            <div class="delBt bt"></div>

            <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>序号</th>
                  <th>歌曲</th>
                  <th>歌手</th>
                  <th>流派</th>
                  <th>地区</th>
                  <th>情绪</th>
                  <th>歌曲路径</th>
                  <th>图片路径</th>
                  <th>日期</th>
                </tr>
              </thead>
              <tbody>
                <tr id="list0">
                </tr>
                <tr id="list1">
                </tr>
                <tr id="list2">
                </tr>
                <tr id="list3">
                </tr>
                <tr id="list4">
                </tr>
                <tr id="list5">
                </tr>
                <tr id="list6">
                </tr>
                <tr id="list7">
                </tr>
                <tr id="list8">
                </tr>
                <tr id="list9">
                </tr>
                <tr id="list10">
                </tr>
                <tr id="list11">
                </tr>
                <tr id="list12">
                </tr>
                <tr id="list13">
                </tr>
                <tr id="list14">
                </tr>
                <tr id="list15">
                </tr>
              </tbody>
            </table>
            <div class="page">
                <span id="previous"><a>上一页</a></span>
                <span><a id="a1">1</a><i class="active_i"></i></span>
                <span><a id="a2">2</a><i></i></span>
                <span><a id="a3">3</a><i></i></span>
                <span><a id="a4">4</a><i></i></span>
                <span><a id="a5">5</a><i></i></span>
                <span><a id="a6">6</a><i></i></span>
                <span><a id="a7">7</a><i></i></span>
                <span><a id="a8">8</a><i></i></span>
                <span><a id="a9">9</a><i></i></span>
                <span><a id="a10">...</a><i></i></span>
                <span id="next"><a>下一页</a></span>
                <span class="currentpageNum"></span>
                <input type="text" id="pageNum" class="pageNum" value=""></input>
                <span><a id="jump">跳转</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="{{ static_url('js/jquery.min.js') }}"></script>
    <!-- // <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    {% block js_reference %}
      <script type="text/javascript" src='{{ static_url("js/adminindex.js") }}'></script>
    {% end %}

  </body>
</html>
