<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8"></meta>
        <meta content="IE=edge" http-equiv="X-UA-Compatible"></meta>
        <meta content="width=device-width, initial-scale=1" name="viewport"></meta>
        <meta content="" name="description"></meta>
        <meta content="" name="author"></meta>
        <title>
            Admin Log in
        </title>
        <link href="{{ static_url('images/flower_fm.ico') }}" rel="shortcut icon"></link>


        <link rel="stylesheet" href="{{ static_url("css/bootstrap.min.css") }}"></link>

        <link rel="stylesheet" href="{{ static_url("css/login.css") }}"></link>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

        <script type="text/javascript">
        //刷新切换背景
        bg = new Array(3);
        bg[0] = '{{ static_url("images/pink.jpg") }}'
        bg[1] = '{{ static_url("images/blue.jpg") }}'
        bg[2] = '{{ static_url("images/sky.jpg") }}'
        index = Math.floor(Math.random() * bg.length);
        document.write("<BODY BACKGROUND="+bg[index]+">");

        $(document).ready(function(){// 加载完毕

            $("#username").blur(function(){//用户名填写完毕
                u_warning();
            });

            $("#password").blur(function(){//用户名填写完毕
                // p_warning();
            });
        });
            function u_warning(){
                $.ajax({// 调用jquery的ajax方法
                    type:"POST",// 设置ajax方法提交数据的形式
                    url:"/adminlogin",// 把数据提交到/login
                    data: "username="+$("#username").val(),
                    success:function(msg1){// 提交成功后的回调
                        if (msg1=="admin_not_existed") {
                            $("#msg1").text("（该管理员用户不存在！）");
                            $("#submit").attr("disabled","true");
                            //用户名不存在则不能登录
                        }else{
                            $("#msg1").text("");
                            ("#submit").removeAttr('disabled');
                            //用户名已存在则能登录
                        };
                    }
                });
            }

            function p_warning(){
                $.ajax({// 调用jquery的ajax方法
                    type:"POST",// 设置ajax方法提交数据的形式
                    url:"/adminlogin",// 把数据提交到/login
                    data: "password"+$("#password").val(),
                    success:function(msg2){// 提交成功后的回调
                        if (msg2=="true") {
                            $("#msg2").text("");
                            $("#submit").removeAttr('disabled');
                            //用户名密码匹配，能登录
                        }else{
                            $("#msg2").text("（用户名和密码不匹配！）");
                            ("#submit").attr("disabled","true");//用户名和密码不匹配则不能登录
                        };
                    }
                });
            }


        </script>

    </head>


    <body>
        <div class="container">
            <form class="form-signin" role="form"  action="/adminlogin" method="POST">
            {% raw xsrf_form_html() %}
                <h2 class="form-signin-heading">
                    Admin Log in
                </h2>
                <h5>用户名：<span id="msg1" class="msg"></span></h5>
                <input class="form-control" id="username" type="text" name="username" value="" autofocus="" required="" placeholder="Username"   onkeyup="value=value.replace(/[\W]/g,'') " onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))"></input>

                <h5>密码：<span id="msg2" class="msg"></span></h5>
                <input class="form-control" id="password" type="password" name="password" required="" placeholder="Password"    onkeyup="value=value.replace(/[\W]/g,'') " onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))"></input>
                <br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Log in
                </button>
                <div id="switch"><a href="/signup">没有账号，马上注册！</a></div>
            </form>
        </div>
    </body>
</html>
