{% extends "adminindex.html" %}

{% block header %}
    <h2 class="sub-header">搜索结果</h2>
{% end %}
{% block search %}
    <ul class="nav navbar-nav navbar-right">
        <li id="searchBt"><a>搜索</a></li>
    </ul>
    <form class="navbar-form navbar-right" action="/musicsearch" method="get">
        <input type="text" class="form-control" id="keyword" name="keyword" placeholder="Search...">
    </form>
{% end %}
{% block addBt %}
{% end %}
{% block js_reference %}
    <script type="text/javascript" src='{{ static_url("js/musicsearch.js") }}'></script>
{% end %}
