<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>个人空间页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Le styles -->
    <link href="{{ static_url("css/bootstrap.css") }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ static_url("css/myzone.css") }}">
  </head>

  <body>

    <div class="container">
      <div class="hero-unit">
        <div class="musicBt bt"></div>
        <div class="logoutBt bt"></div>
        <div >
            <a id="user_info"><img class="user_image" src="1.jpg"></a>
        </div>
        <div>
            <h3>yxjxx</h3>
            <p>Being an interesting person!</p>
        </div>
      </div>


      <div class="row">
        <div class="span7">
          <h3>喜欢列表</h3>
          <div class="like_delBt bt"></div>
            <div>
            <table class="table">
              <thead>
                <tr>
                  <th>序号</th>
                  <th>歌曲</th>
                  <th>歌手</th>
                </tr>
              </thead>
              <tbody>
                <tr id="like_list0" class="like">
                </tr>
                <tr id="like_list1" class="like">
                </tr>
                <tr id="like_list2" class="like">
                </tr>
                <tr id="like_list3" class="like">
                </tr>
                <tr id="like_list4" class="like">
                </tr>
                <tr id="like_list5" class="like">
                </tr>
                <tr id="like_list6" class="like">
                </tr>
                <tr id="like_list7" class="like">
                </tr>
                <tr id="like_list8" class="like">
                </tr>
                <tr id="like_list9" class="like">
                </tr>
                <tr id="like_list10" class="like">
                </tr>
              </tbody>
            </table>
            <div class="page">
                <span id="like_previous"><a>上一页</a></span>
                <span><a id="like_a1">1</a><i class="active_i"></i></span>
                <span><a id="like_a2">2</a><i></i></span>
                <span><a id="like_a3">3</a><i></i></span>
                <span><a id="like_a4">4</a><i></i></span>
                <span><a id="like_a5">5</a><i></i></span>
                <span><a id="like_a6">...</a><i></i></span>
                <span id="like_next"><a>下一页</a></span>
                <span class="current_like_pageNum">当前页码</span>
                <input type="text" id="like_pageNum" class="pageNum" value=""></input>
                <span><a id="like_jump">跳转</a></span>
            </div>
          </div>
          <!-- <p><a class="btn" href="#">View details &raquo;</a></p> -->
        </div>
        <div class="span7">
          <div>
              <h3>讨厌列表</h3>
              <div class="hate_delBt bt"></div>
          </div>
            <div>
            <table class="table">
              <thead>
                <tr>
                  <th>序号</th>
                  <th>歌曲</th>
                  <th>歌手</th>
                </tr>
              </thead>
              <tbody>
                <tr id="hate_list0" class="hate">
                </tr>
                <tr id="hate_list1" class="hate">
                </tr>
                <tr id="hate_list2" class="hate">
                </tr>
                <tr id="hate_list3" class="hate">
                </tr>
                <tr id="hate_list4" class="hate">
                </tr>
                <tr id="hate_list5" class="hate">
                </tr>
                <tr id="hate_list6" class="hate">
                </tr>
                <tr id="hate_list7" class="hate">
                </tr>
                <tr id="hate_list8" class="hate">
                </tr>
                <tr id="hate_list9" class="hate">
                </tr>
                <tr id="hate_list10" class="hate">
                </tr>
              </tbody>
            </table>
            <div class="page">
                <span id="hate_previous"><a>上一页</a></span>
                <span><a id="hate_a1">1</a><i class="active_i"></i></span>
                <span><a id="hate_a2">2</a><i></i></span>
                <span><a id="hate_a3">3</a><i></i></span>
                <span><a id="hate_a4">4</a><i></i></span>
                <span><a id="hate_a5">5</a><i></i></span>
                <span><a id="hate_a6">...</a><i></i></span>
                <span id="hate_next"><a>下一页</a></span>
                <span class="current_hate_pageNum">当前页码</span>
                <input type="text" id="hate_pageNum" class="pageNum" value=""></input>
                <span><a id="hate_jump">跳转</a></span>
            </div>
            </div>
       </div>
      </div>
    </div>
    <script type="text/javascript" src="{{ static_url('js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url("js/myzone.js") }}"></script>
  </body>
</html>
