<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>个人空间页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Le styles -->
    <link href="{{ static_url("css/bootstrap.css") }}" rel="stylesheet">
    <link href="{{ static_url("css/bootstrap.min.css") }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ static_url("css/myzone.css") }}">
    <link href="{{ static_url('images/flower_fm.ico') }}" rel="shortcut icon"></link>
  </head>

  <body>

    <div class="ui-dialog" id="dialog">
        <div class="ui-dialog-title" id="dialogTitle">
            个人资料设置
            <div class="ui-dialog-title-closebutton"></div>
        </div>
        <div class="ui-dialog-content">
            <CENTER>
            <div class="edit">
                <form class="navbar-form"  name="form" role="form">
                    <h5>个性签名：</h5>
                    <input class="myzone_form" id="bio" name="bio" type="text" autofocus="" placeholder="Bio"></input>
                    <button class="ui-dialog-submit btn btn-lg btn-primary btn-block" id="bio_submit">
                        提交
                    </button>
                </form>
            </div>
            <div class="edit">
                <form class="myzone_form"  id="gravatar_form" action="/upload" enctype="multipart/form-data" method="post">
                    <h5>上传头像:</h5>
                    <input id="gravatar_input" name="myfile" type="file">
                    <input class="ui-dialog-submit btn btn-lg btn-primary btn-block" id="gravatar_Bt" type="submit" value="提交">
                </form>
            </div>

            </CENTER>
        </div>
    </div>
    <div class="ui-mask" id="mask" onslectstart="return false"></div>

    <div class="container">
      <div class="hero-unit">
        <div class="musicBt bt"  onclick="location.href='/'"></div>
        <div class="logoutBt bt"  onclick="location.href='/logout'"></div>
        <div >
            <a id="myzone_gravatar"></a>
        </div>
        <div>
            <h3 id="myzone_username"></h3>
            <p id="myzone_bio"></p>
        </div>
      </div>


      <div class="row">
        <div class="span7">
          <h3>喜欢列表</h3>
          <div class="like_delBt bt"></div>
            <div>
            <table class="table">
              <thead>
                <tr>
                  <th>序号</th>
                  <th>歌曲</th>
                  <th>歌手</th>
                </tr>
              </thead>
              <tbody>
                <tr id="like_list0" class="like">
                </tr>
                <tr id="like_list1" class="like">
                </tr>
                <tr id="like_list2" class="like">
                </tr>
                <tr id="like_list3" class="like">
                </tr>
                <tr id="like_list4" class="like">
                </tr>
                <tr id="like_list5" class="like">
                </tr>
                <tr id="like_list6" class="like">
                </tr>
                <tr id="like_list7" class="like">
                </tr>
                <tr id="like_list8" class="like">
                </tr>
                <tr id="like_list9" class="like">
                </tr>
                <tr id="like_list10" class="like">
                </tr>
              </tbody>
            </table>
            <div class="page">
                <span id="like_previous"><a>上一页</a></span>
                <span><a id="like_a1">1</a><i class="active_i"></i></span>
                <span><a id="like_a2">2</a><i></i></span>
                <span><a id="like_a3">3</a><i></i></span>
                <span><a id="like_a4">4</a><i></i></span>
                <span><a id="like_a5">5</a><i></i></span>
                <span><a id="like_a6">...</a><i></i></span>
                <span id="like_next"><a>下一页</a></span>
                <span class="current_like_pageNum">当前页码</span>
                <input type="text" id="like_pageNum" class="pageNum"></input>
                <span><a id="like_jump">跳转</a></span>
            </div>
          </div>
          <!-- <p><a class="btn" href="#">View details &raquo;</a></p> -->
        </div>
        <div class="span7">
          <div>
              <h3>讨厌列表</h3>
              <div class="hate_delBt bt"></div>
          </div>
            <div>
            <table class="table">
              <thead>
                <tr>
                  <th>序号</th>
                  <th>歌曲</th>
                  <th>歌手</th>
                </tr>
              </thead>
              <tbody>
                <tr id="hate_list0" class="hate">
                </tr>
                <tr id="hate_list1" class="hate">
                </tr>
                <tr id="hate_list2" class="hate">
                </tr>
                <tr id="hate_list3" class="hate">
                </tr>
                <tr id="hate_list4" class="hate">
                </tr>
                <tr id="hate_list5" class="hate">
                </tr>
                <tr id="hate_list6" class="hate">
                </tr>
                <tr id="hate_list7" class="hate">
                </tr>
                <tr id="hate_list8" class="hate">
                </tr>
                <tr id="hate_list9" class="hate">
                </tr>
                <tr id="hate_list10" class="hate">
                </tr>
              </tbody>
            </table>
            <div class="page">
                <span id="hate_previous"><a>上一页</a></span>
                <span><a id="hate_a1">1</a><i class="active_i"></i></span>
                <span><a id="hate_a2">2</a><i></i></span>
                <span><a id="hate_a3">3</a><i></i></span>
                <span><a id="hate_a4">4</a><i></i></span>
                <span><a id="hate_a5">5</a><i></i></span>
                <span><a id="hate_a6">...</a><i></i></span>
                <span id="hate_next"><a>下一页</a></span>
                <span class="current_hate_pageNum">当前页码</span>
                <input type="text" id="hate_pageNum" class="pageNum"></input>
                <span><a id="hate_jump">跳转</a></span>
            </div>
            </div>
       </div>
      </div>
    </div>
    <script type="text/javascript" src="{{ static_url('js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url("js/myzone.js") }}"></script>
  </body>
</html>
