<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>个人空间页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Le styles -->
    <link href="{{ static_url("css/bootstrap.css") }}" rel="stylesheet">
    <link href="{{ static_url("css/bootstrap.min.css") }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ static_url("css/myzone.css") }}">
    <link href="{{ static_url('images/flower_fm.ico') }}" rel="shortcut icon"></link>
    <script type="text/javascript">
        // var img_url_f = '<img class="user_image" src="{{ static_url("';
        // var img_url_l = '")}}">';
    </script>
  </head>

  <body>

    <div class="ui-dialog" id="dialog">
        <div class="ui-dialog-title" id="dialogTitle">
            个人资料设置
            <div class="ui-dialog-title-closebutton"></div>
        </div>
        <div class="ui-dialog-content">
            <CENTER>
            <div class="edit">
                <form class="navbar-form"  name="form" role="form">
                    <h5>个性签名：</h5>
                    <input class="myzone_form" id="bio" name="bio" type="text" autofocus="" placeholder="Bio"></input>
                    <button class="ui-dialog-submit btn btn-lg btn-primary btn-block" id="bio_submit">
                        提交
                    </button>
                </form>
            </div>
            <div class="edit">
                <form class="myzone_form"  id="gravatar_form" action="/upload" enctype="multipart/form-data" method="post">
                    <h5>上传头像:</h5>
                    <input id="gravatar_input" name="myfile" type="file">
                    <input class="ui-dialog-submit btn btn-lg btn-primary btn-block" id="gravatar_Bt" type="submit" value="Submit">
                </form>
            </div>

            </CENTER>
        </div>
    </div>
    <div class="ui-mask" id="mask" onslectstart="return false"></div>

    <div class="container">
      <div class="hero-unit">
        <div class="musicBt bt"  onclick="location.href='/'"></div>
        <div class="logoutBt bt"  onclick="location.href='/logout'"></div>
        <div >
            <a id="myzone_gravatar"></a>
        </div>
        <div>
            <h3 id="myzone_username"></h3>
            <p id="myzone_bio"></p>
        </div>
      </div>


      <div class="row">
        <div class="span7">
          <h3>喜欢列表</h3>
          <div class="like_delBt bt"></div>
            <div>
            <table class="table">
              <thead>
                <tr>
                  <th>序号</th>
                  <th>歌曲</th>
                  <th>歌手</th>
                </tr>
              </thead>
              <tbody>
                <tr id="like_list0" class="like">
                </tr>
                <tr id="like_list1" class="like">
                </tr>
                <tr id="like_list2" class="like">
                </tr>
                <tr id="like_list3" class="like">
                </tr>
                <tr id="like_list4" class="like">
                </tr>
                <tr id="like_list5" class="like">
                </tr>
                <tr id="like_list6" class="like">
                </tr>
                <tr id="like_list7" class="like">
                </tr>
                <tr id="like_list8" class="like">
                </tr>
                <tr id="like_list9" class="like">
                </tr>
                <tr id="like_list10" class="like">
                </tr>
              </tbody>
            </table>
            <div class="page">
                <span id="like_previous"><a>上一页</a></span>
                <span><a id="like_a1">1</a><i class="active_i"></i></span>
                <span><a id="like_a2">2</a><i></i></span>
                <span><a id="like_a3">3</a><i></i></span>
                <span><a id="like_a4">4</a><i></i></span>
                <span><a id="like_a5">5</a><i></i></span>
                <span><a id="like_a6">...</a><i></i></span>
                <span id="like_next"><a>下一页</a></span>
                <span class="current_like_pageNum">当前页码</span>
                <input type="text" id="like_pageNum" class="pageNum"></input>
                <span><a id="like_jump">跳转</a></span>
            </div>
          </div>
          <!-- <p><a class="btn" href="#">View details &raquo;</a></p> -->
        </div>
        <div class="span7">
          <div>
              <h3>讨厌列表</h3>
              <div class="hate_delBt bt"></div>
          </div>
            <div>
            <table class="table">
              <thead>
                <tr>
                  <th>序号</th>
                  <th>歌曲</th>
                  <th>歌手</th>
                </tr>
              </thead>
              <tbody>
                <tr id="hate_list0" class="hate">
                </tr>
                <tr id="hate_list1" class="hate">
                </tr>
                <tr id="hate_list2" class="hate">
                </tr>
                <tr id="hate_list3" class="hate">
                </tr>
                <tr id="hate_list4" class="hate">
                </tr>
                <tr id="hate_list5" class="hate">
                </tr>
                <tr id="hate_list6" class="hate">
                </tr>
                <tr id="hate_list7" class="hate">
                </tr>
                <tr id="hate_list8" class="hate">
                </tr>
                <tr id="hate_list9" class="hate">
                </tr>
                <tr id="hate_list10" class="hate">
                </tr>
              </tbody>
            </table>
            <div class="page">
                <span id="hate_previous"><a>上一页</a></span>
                <span><a id="hate_a1">1</a><i class="active_i"></i></span>
                <span><a id="hate_a2">2</a><i></i></span>
                <span><a id="hate_a3">3</a><i></i></span>
                <span><a id="hate_a4">4</a><i></i></span>
                <span><a id="hate_a5">5</a><i></i></span>
                <span><a id="hate_a6">...</a><i></i></span>
                <span id="hate_next"><a>下一页</a></span>
                <span class="current_hate_pageNum">当前页码</span>
                <input type="text" id="hate_pageNum" class="pageNum"></input>
                <span><a id="hate_jump">跳转</a></span>
            </div>
            </div>
       </div>
      </div>
    </div>
    <script type="text/javascript" src="{{ static_url('js/jquery.min.js') }}"></script>
    <!-- <script type="text/javascript" src="{{ static_url("js/myzone.js") }}"></script> -->
    <script type="text/javascript">
        var like_pagenum = 1;
        var hate_pagenum = 1;
        var like_musicid = -1;
        var hate_musicid = -1;
        var info_obj;
        $(document).ready(function(){
            function like_list_post(action,kind,begin_num,end_num){
                $.ajax({
                    type:"POST",
                    url:"/myzone",
                    data: "action="+ action+ "&kind="+ kind +"&begin_num="+ begin_num +"&end_num="+end_num,
                    success:function(msg){
                        like_list_obj = JSON.parse(msg);
                        // alert(list_obj);
                        load_like_list(like_list_obj);
                    }
                })
            }
            like_list_post("refresh","like", 0, 10);

            function load_like_list(like_list_obj){
                for (var i = 0; i < like_list_obj.length; i++) {
                    $('#like_list' + i).html('<td>' + (i+1) + '</td><td>'+like_list_obj[i].music_name+'</td><td>'+like_list_obj[i].music_artist+'</td><td class="list_music_id">'+like_list_obj[i].music_id+'</td>');
                };
                for (var i = like_list_obj.length; i < 10; i++) {
                    $('#like_list' + i).html('');
                }
            };


            function hate_list_post(action,kind,begin_num,end_num){
                $.ajax({
                    type:"POST",
                    url:"/myzone",
                    data: "action="+ action+ "&kind="+ kind +"&begin_num="+ begin_num +"&end_num="+end_num,
                    success:function(msg){
                        hate_list_obj = JSON.parse(msg);
                        // alert(list_obj);
                        load_hate_list(hate_list_obj);
                    }
                })
            }
            hate_list_post("refresh","hate", 0, 10);

            function load_hate_list(hate_list_obj){
                for (var i = 0; i < hate_list_obj.length; i++) {
                    $('#hate_list' + i).html('<td>' + (i+1) + '</td><td>'+hate_list_obj[i].music_name+'</td><td>'+hate_list_obj[i].music_artist+'</td><td class="list_music_id">'+hate_list_obj[i].music_id+'</td>');
                };
                for (var i = hate_list_obj.length; i < 10; i++) {
                    $('#hate_list' + i).html('');
                }
            };

            info_post("refresh","info")
            function info_post(action, kind){
                $.ajax({
                    type:"POST",
                    url:"/myzone",
                    data: "action="+ action+ "&kind="+ kind,
                    success:function(msg){
                        info_obj = JSON.parse(msg);
                        load_info(info_obj);
                    }
                })
            }
            function load_info(info_obj){
                $('#myzone_username').html(info_obj.username);
                $('#myzone_bio').html(info_obj.bio);
                $('#myzone_gravatar').html( '<img class="user_image" src="{{ static_url("' + info_obj.gravatar + '")}}">');
            }

            // 设置足迹
            $('.page i:even').css("top","-40px");
            // 刷新页码
            update_like_pageNum(like_pagenum);
            update_hate_pageNum(hate_pagenum);
            function update_like_pageNum(like_pagenum){
                $('.current_like_pageNum').html('<strong>当前页码：'+like_pagenum+'</strong>');
            }

            function update_hate_pageNum(hate_pagenum){
                $('.current_hate_pageNum').html('<strong>当前页码：'+hate_pagenum+'</strong>');
            }

            // 点击选中 获取ID
            $('.like').click(function(){
                $(this).addClass('active_tr')
                $(this).siblings().removeClass('active_tr');

                like_musicid = $(this).children().last().html();
            });
            $('.hate').click(function(){
                $(this).addClass('active_tr')
                $(this).siblings().removeClass('active_tr');

                hate_musicid = $(this).children().last().html();
            });

            // 换页效果
            $('#like_a1').click(function(){
                like_pagenum = 1;
                like_list_post("page_change","like",0,like_pagenum*10);
                $('#like_a1').siblings('i').addClass('active_i').parent().siblings().find('i').removeClass('active_i');
                update_like_pageNum(like_pagenum);
            });
            $('#like_a2').click(function(){
                like_pagenum = 2;
                like_list_post("page_change","like",(like_pagenum-1)*10,like_pagenum*10);
                $('#like_a2').siblings('i').addClass('active_i').parent().siblings().find('i').removeClass('active_i');
                update_like_pageNum(like_pagenum);
            });
            $('#like_a3').click(function(){
                like_pagenum = 3;
                like_list_post("page_change","like",(like_pagenum-1)*10,like_pagenum*10);
                $('#like_a3').siblings('i').addClass('active_i').parent().siblings().find('i').removeClass('active_i');
                update_like_pageNum(like_pagenum);
            });
            $('#like_a4').click(function(){
                like_pagenum = 4;
                like_list_post("page_change","like",(like_pagenum-1)*10,like_pagenum*10);
                $('#like_a4').siblings('i').addClass('active_i').parent().siblings().find('i').removeClass('active_i');
                update_like_pageNum(like_pagenum);
            });
            $('#like_a5').click(function(){
                like_pagenum = 5;
                like_list_post("page_change","like",(like_pagenum-1)*10,like_pagenum*10);
                $('#like_a5').siblings('i').addClass('active_i').parent().siblings().find('i').removeClass('active_i');
                update_like_pageNum(like_pagenum);
            });
            $('#hate_a1').click(function(){
                hate_pagenum = 1;
                hate_list_post("page_change","hate",0,hate_pagenum*10);
                $('#hate_a1').siblings('i').addClass('active_i').parent().siblings().find('i').removeClass('active_i');
                update_hate_pageNum(hate_pagenum);
            });
            $('#hate_a2').click(function(){
                hate_pagenum = 2;
                hate_list_post("page_change","hate",(hate_pagenum-1)*10,hate_pagenum*10);
                $('#hate_a2').siblings('i').addClass('active_i').parent().siblings().find('i').removeClass('active_i');
                update_hate_pageNum(hate_pagenum);
            });
            $('#hate_a3').click(function(){
                hate_pagenum = 3;
                hate_list_post("page_change","hate",(hate_pagenum-1)*10,hate_pagenum*10);
                $('#hate_a3').siblings('i').addClass('active_i').parent().siblings().find('i').removeClass('active_i');
                update_hate_pageNum(hate_pagenum);
            });
            $('#hate_a4').click(function(){
                hate_pagenum = 4;
                hate_list_post("page_change","hate",(hate_pagenum-1)*10,hate_pagenum*10);
                $('#hate_a4').siblings('i').addClass('active_i').parent().siblings().find('i').removeClass('active_i');
                update_hate_pageNum(hate_pagenum);
            });
            $('#hate_a5').click(function(){
                hate_pagenum = 5;
                hate_list_post("page_change","hate",(hate_pagenum-1)*10,hate_pagenum*10);
                $('#hate_a5').siblings('i').addClass('active_i').parent().siblings().find('i').removeClass('active_i');
                update_hate_pageNum(hate_pagenum);
            });


            $('#like_previous').click(function(){
                if (like_pagenum>1 && like_pagenum<7) {
                    like_pagenum = like_pagenum-1;
                    like_list_post("page_change", "like", (like_pagenum-1)*10,like_pagenum*10);
                    $('#like_a'+like_pagenum).siblings('i').addClass('active_i').parent().siblings().find('i').removeClass('active_i');
                    // post
                    update_like_pageNum(like_pagenum);
                }else{
                    if (like_pagenum>6) {
                        like_pagenum = like_pagenum-1;
                        like_list_post("page_change", "like",(like_pagenum-1)*10,like_pagenum*10);
                        update_like_pageNum(like_pagenum);
                    };
                }
            });
            $('#hate_previous').click(function(){
                if (hate_pagenum>1 && hate_pagenum<7) {
                    hate_pagenum = hate_pagenum-1;
                    hate_list_post("page_change","hate", (hate_pagenum-1)*10,hate_pagenum*10);
                    $('#hate_a'+hate_pagenum).siblings('i').addClass('active_i').parent().siblings().find('i').removeClass('active_i');
                    // post
                    update_hate_pageNum(hate_pagenum);
                }else{
                    if (hate_pagenum>6) {
                        hate_pagenum = hate_pagenum-1;
                        hate_list_post("page_change","hate",(hate_pagenum-1)*10,hate_pagenum*10);
                        update_hate_pageNum(hate_pagenum);
                    };
                }
            });
            $('#like_next').click(function(){
                if (like_pagenum>0 && like_pagenum<5) {
                    like_pagenum = like_pagenum+1;
                    $('#like_a'+like_pagenum).siblings('i').addClass('active_i').parent().siblings().find('i').removeClass('active_i');
                    like_list_post("page_change", "like", (like_pagenum-1)*10,like_pagenum*10);
                    update_like_pageNum(like_pagenum);
                }else{
                    if (like_pagenum>4) {
                        like_pagenum = like_pagenum+1;
                        $('#like_a6').siblings('i').addClass('active_i').parent().siblings().find('i').removeClass('active_i');
                        like_list_post("page_change","like", (like_pagenum-1)*10,like_pagenum*10);
                        update_like_pageNum(like_pagenum);
                    };
                }
            });
            $('#hate_next').click(function(){
                if (hate_pagenum>0 && hate_pagenum<5) {
                    hate_pagenum = hate_pagenum+1;
                    $('#hate_a'+hate_pagenum).siblings('i').addClass('active_i').parent().siblings().find('i').removeClass('active_i');
                    hate_list_post("page_change", "hate", (hate_pagenum-1)*10,hate_pagenum*10);
                    update_hate_pageNum(hate_pagenum);
                }else{
                    if (hate_pagenum>4) {
                        hate_pagenum = hate_pagenum+1;
                        $('#hate_a6').siblings('i').addClass('active_i').parent().siblings().find('i').removeClass('active_i');
                        hate_list_post("page_change","hate", (hate_pagenum-1)*10,hate_pagenum*10);
                        update_hate_pageNum(hate_pagenum);
                    };
                }
            });
            $('#like_jump').click(function(){
                like_pagenum = parseInt( $('#like_pageNum').val(), 10);
                like_list_post("page_change","like",(like_pagenum-1)*10,like_pagenum*10);
                update_like_pageNum(like_pagenum);
            });
            $('#hate_jump').click(function(){
                hate_pagenum = parseInt( $('#hate_pageNum').val(), 10);
                hate_list_post("page_change","hate",(hate_pagenum-1)*10,hate_pagenum*10);
                update_hate_pageNum(hate_pagenum);
            });

            $('.like_delBt').click(function(){
                if(like_musicid < 0){
                    alert("请先选中要操作的歌曲");
                }
                else{
                    like_delete_firm();
                }
            })
            function like_delete_firm()
            {//利用对话框返回的值 （true 或者 false）
                if(confirm("确认删除？"))
                {//如果是true
                    like_delete_post("delete", "like", like_musicid, (like_pagenum-1)*10,like_pagenum*10);
                    like_musicid = -1;
                    hate_musicid = -1;
                    $('tr').removeClass('active_tr');
                }
            }
            function like_delete_post(action, kind, like_musicid, begin_num, end_num){
                $.ajax({
                    type:"POST",
                    url:"/myzone",
                    data: "action="+action + "&kind=" + kind + "&like_musicid="+like_musicid + "&begin_num="+ begin_num +"&end_num="+end_num,
                    success:function(msg){
                        like_list_obj = JSON.parse(msg);
                        // alert(list_obj);
                        load_like_list(like_list_obj);
                    }
                })
            }
            $('.hate_delBt').click(function(){
                if(hate_musicid < 0){
                    alert("请先选中要操作的歌曲");
                }
                else{
                    hate_delete_firm();
                }
            })
            function hate_delete_firm()
            {//利用对话框返回的值 （true 或者 false）
                if(confirm("确认删除？"))
                {//如果是true
                    hate_delete_post("delete", "hate", hate_musicid, (hate_pagenum-1)*10,hate_pagenum*10);
                    like_musicid = -1;
                    hate_musicid = -1;
                    $('tr').removeClass('active_tr');
                }
            }
            function hate_delete_post(action, kind, hate_musicid, begin_num, end_num){
                $.ajax({
                    type:"POST",
                    url:"/myzone",
                    data: "action="+action + "&kind=" + kind + "&hate_musicid="+hate_musicid + "&begin_num="+ begin_num +"&end_num="+end_num,
                    success:function(msg){
                        hate_list_obj = JSON.parse(msg);
                        // alert(list_obj);
                        load_hate_list(hate_list_obj);
                    }
                })
            }


            $('#myzone_gravatar').click(function(){
                showDialog();
                document.getElementById('bio').value = info_obj.bio;
            })
            $('.ui-dialog-title-closebutton').click(function(){
                hideDialog();
            })
            $('#bio_submit').click(function(){
                edit_bio_post("edit_bio");
                hideDialog();
                return false;
            })
            // $('#gravatar_submit').click(function(){
            //     edit_gravatar_post("edit_gravatar");
            //     hideDialog();
            //     return false;
            // })
            function edit_bio_post(action){
                $.ajax({
                    type:"POST",
                    url:"/myzone",
                    data: "action=" + action + "&bio="+$("#bio").val(),
                    success:function(msg){
                        info_obj = JSON.parse(msg);
                        load_info(info_obj);
                    }
                })
            };
            // function edit_gravatar_post(action){
            //     $.ajax({
            //         type:"POST",
            //         url:"/",
            //         data: "action=" + action + "&bio="+$("#gravatar_input").val(),
            //         success:function(msg){
            //             info_obj = JSON.parse(msg);
            //             load_info(info_obj);
            //         }
            //     })
            // };


            //  获取元素对象
            function g(id){ return document.getElementById(id); }

            //  自动居中 - 登录浮层 ( el = Elemenet)
            function autoCenter( el ){
                var bodyW = document.documentElement.clientWidth;
                var bodyH = document.documentElement.clientHeight;

                var elW = el.offsetWidth;
                var elH = el.offsetHeight;

                el.style.left = ( bodyW - elW  ) / 2  + 'px';
                el.style.top  = ( bodyH - elH  ) / 2  + 'px';
            }

            //  自动全屏 - 遮罩
            function fillToBody( el ){
                el.style.width   =  document.documentElement.clientWidth  +'px';
                el.style.height  =  document.documentElement.clientHeight +'px';
            }

            var mouseOffsetX = 0;   //  偏移
            var mouseOffsetY = 0;

            var isDraging = false;  //  是否可拖拽的标记

            //  鼠标事件1 － 在标题栏上按下（要计算鼠标相对拖拽元素的左上角的坐标，并且标记元素为可拖动）
            g('dialogTitle').addEventListener('mousedown',function(e){
                var e = e || window.event;
                mouseOffsetX = e.pageX - g('dialog').offsetLeft;
                mouseOffsetY = e.pageY - g('dialog').offsetTop;
                isDraging = true;
            })
            //  鼠标事件2 － 鼠标移动时（要检测，元素是否可标记为移动，如果是，则更新元素的位置，到当前鼠标的位置［ps：要减去第一步中获得的偏移］）
            document.onmousemove = function( e ){
                var e = e || window.event;

                var mouseX = e.pageX;   // 鼠标当前的位置
                var mouseY = e.pageY;

                var moveX = 0;  //  浮层元素的新位置
                var moveY = 0;

                if( isDraging === true ){

                    moveX = mouseX - mouseOffsetX;
                    moveY = mouseY - mouseOffsetY;

                    //  范围限定   moveX > 0 并且  moveX < (页面最大宽度 - 浮层的宽度)
                    //            moveY > 0 并且  movey < (页面最大高度 - 浮层的高度)

                    var pageWidth  = document.documentElement.clientWidth ;
                    var pageHeight = document.documentElement.clientHeight ;

                    var dialogWidth  = g('dialog').offsetWidth;
                    var dialogHeight = g('dialog').offsetHeight;

                    var maxX = pageWidth - dialogWidth;
                    var maxY = pageHeight- dialogHeight;

                    moveX = Math.min( maxX , Math.max(0,moveX) );
                    moveY = Math.min( maxY , Math.max(0,moveY) );

                    g('dialog').style.left = moveX + 'px';
                    g('dialog').style.top  = moveY + 'px';
                }

            }


            //  鼠标事件3 － 鼠标松开的时候（标记元素为不可拖动即可）
            document.onmouseup = function(){
                isDraging = false;
            }

            //  展现登录浮层
            function showDialog(){
                g('dialog').style.display = 'block';
                g('mask').style.display = 'block';
                autoCenter(g('dialog'));
                fillToBody( g('mask') );
            }

            //  隐藏登录浮层
            function hideDialog(){
                g('dialog').style.display = 'none';
                g('mask').style.display = 'none';
            }

            onresize =function(){
                autoCenter(g('dialog'));
                fillToBody( g('mask') );
            }

        })

    </script>
  </body>
</html>
