<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Music</title>
        <link rel="shortcut icon" href="http://imgsize.ph.126.net/?imgurl=http://img2.ph.126.net/5QmK9DIz-daSHW88i4cTvw==/3170534137768919861.jpg_16x16x0x90.jpg">
        <link rel="stylesheet" href="{{ static_url("css/playmusic.css") }}"></link>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="{{ static_url("js/jquery-ui-1.8.17.custom.min.js") }}"></script>
        <script type="text/javascript" src="{{ static_url("js/playmusic.js")}}"></script>
    </head>
    <body>
        <div id="player">
            <div class="ctrl">
                <div class="logoutBt icon" href="/logout">log out</div>
                <div class="myzoneBt icon" href="/myzone">my zone</div>
                <!-- 歌曲名，歌手，专辑 -->
                <div class="tag">
                    <strong>Title</strong>
                    <span class="artist">Artist</span>
                    <!-- <span class="album">Album</span> -->
                </div>

                <div class="control">
                    <!-- 上一曲、暂停、下一曲 -->
                    <div class="left">
                        <!-- <div class="rewind icon"></div> -->
                        <div class="playback icon"></div>
                        <div class="fastforward icon"></div>
                    </div>

                    <div class="volume">
                        <!-- 音量图标 -->
                        <div class="mute icon left"></div>
                        <!-- 音量拉条框 -->
                        <div class="slider left">
                            <!-- 音量大小 -->
                            <div class="pace"></div>
                        </div>
                    </div>
                </div>
                <!-- 进度条 -->
                <div class="progress">
                    <div class="timer">0:00</div>
                    <div class="slider">
                        <div class="loaded"></div>
                        <div class="pace"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="filter">
            <!-- 喜欢按钮 -->
            <div class="likeBt bt"></div>
            <div class="bt" id="float"></div>
            <div class="hateBt bt"></div>
            <div class="nextBt bt"></div>
            <div class="playBt bt"></div>
        </div>
    </body>
</html>
