<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8"></meta>
        <meta content="IE=edge" http-equiv="X-UA-Compatible"></meta>
        <meta content="width=device-width, initial-scale=1" name="viewport"></meta>
        <meta content="" name="description"></meta>
        <meta content="" name="author"></meta>
        <link href="../../assets/ico/favicon.ico" rel="shortcut icon"></link>
        <title>
            Sign Up
        </title>

        <link rel="stylesheet" href="{{ static_url("css/bootstrap.min.css") }}"></link>

        <link rel="stylesheet" href="{{ static_url("css/signup.css") }}"></link>

        <script type="text/javascript">
            function isSame(){//检查两次输入密码是否一致
                if(document.form.password1.value!=document.form.password2.value){//form表单的name属性为password1和password2的值是否一致
                document.form.password2.focus();
                 msg.style.visibility="visible";
                 return false;
                }
                 msg.style.visibility="hidden";
                 return true;
            }
                //刷新切换背景
                bg = new Array(3);
                bg[0] = '{{ static_url("images/pink.jpg") }}'
                bg[1] = '{{ static_url("images/blue.jpg") }}'
                bg[2] = '{{ static_url("images/sky.jpg") }}'
                index = Math.floor(Math.random() * bg.length);
                document.write("<BODY BACKGROUND="+bg[index]+">");

        </script>
    </head>


    <body>
        <div class="container">
            <form class="form-signup"  name="form" role="form" method="POST" action="/signup">
            {% raw xsrf_form_html() %}
                <h2 class="form-signup-heading">
                Please Sign Up
                </h2>
                <br>
                <h5>输入账号：</h5>
                <input class="form-control" name="username" type="text" autofocus="" required="" placeholder="username"  onkeyup="value=value.replace(/[\W]/g,'') " onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))"></input>
                <br>
                <h5>输入密码：</h5>
                <input class="form-control"  name="password" type="password" required="" placeholder="Password"  onkeyup="value=value.replace(/[\W]/g,'') " onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))"></input>
                <br>
                <h5>再次输入密码：</h5>
                <input class="form-control" name="password2" type="password" required="" placeholder="Password"  onblur="isSame()"  onkeyup="value=value.replace(/[\W]/g,'') " onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))"></input>
                <p id="msg">Passwords don't match </p>

                <h5>验证邮箱：</h5>
                <input class="form-control" name="email" type="email" autofocus="" required="" placeholder="Email address" ></input>
                <br><br>

                <button class="btn btn-lg btn-primary btn-block" type="submit">

                    Sign Up

                </button>
            </form>
        </div>

    </body>

</html>
